.common-table {
  position: relative;
  height: 100%;
  overflow: hidden;
  .left-tree {
    float: left;
    position: relative;
    z-index: 1000;
    width: 256px;
    overflow: auto;
  }
  .right-table {
    float: right;
    position: relative;
    z-index: 500;
    padding-left: 276px;
    width: 100%;
    box-sizing: border-box;
    margin-left: -100%;
  }
  .vertical-line {
    display: inline-block;
    color: #f5f5f5;
    width: 10px;
    text-align: center;
  }
  .search-form-item {
    padding-bottom: 10px;
  }
  .search {
    margin-bottom: 10px;
  }
  .bottom-tree-icon {
    font-size: 16px;
    margin-right: 16px;
  }
  .font-color {
    color: #ff0000;
  }
  .right-org-authority {
    width: 100%;
    min-height: 300px;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
  }
}
